/build/
/bin/
/obj/
/out/
/Debug/
/Release/
/vs2019/
/.vs/
.vscode/
*.user
*.userosscache
*.suo
*.sln.docstates
Thumbs.db
ehthumbs.db
*~
*.o
*.a
*.so
*.dll
*.exe
*.out
*.inl
ccache/
.idea/
*.cbp
*.layout*.xcodeproj
*.xcworkspace
*.xcuserdata
*.exe
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
makefile
cmake_install.cmake
*.cmake
*.log
*.bak
*.swp
